<!-- As a heading -->
<nav class="navbar bg-dark-subtle form-control">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo.svg" alt="Logo"
                 width="30" height="24"
                 class="d-inline-block align-text-top">
            - рассылке
        </a>
    </div>
</nav>
<!-- As a link -->
<nav class="navbar bg-secondary-subtle form-control">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">На главную</a>
    </div>
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'mailings:mailing_list' %}">Рассылки</a>
    </div>
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'mailings:message_list' %}">Сообщения</a>
    </div>
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'mailings:client_list' %}">Клиенты</a>
    </div>
</nav>